.layout-notification

 .chat
  %header
   %a チャットグループが作成されました。

  .chat-side

   %div(class="chat-user clearfix")
    %h5 OHHHHHHHHHH!!!!!!

    .chat-user__actions
     =link_to new_group_path do
      %i(class="fa fa-pencil-square-o")

     = link_to edit_user_path(current_user) do
      %i(class="fa fa-cog")

   %ul.chat-groups
    %li.chat-group

     %a(class="chat-group__link" href="")

      %p.chat-group__name

       サークルメンバー

      %p.chat-group__message

       レレエsfじゃlk；j

    %li.chat-group

     %a(class="chat-group__link" href="")

      %p.chat-group__name

       パパイヤメンバー

      %p.chat-group__message

       まだメッセージはないでヤンス

    %li.chat-group

     %a(class="chat-group__link" href="")

      %p.chat-group__name

       サークルメンバー

      %p.chat-group__message

       レレエsfじゃlk；j

    %li.chat-group

     %a(class="chat-group__link" href="")

      %p.chat-group__name

       パパイヤメンバー

      %p.chat-group__message

       まだメッセージはないでヤンス

  .chat-main

   %div(class="chat-header clearfix")

    .chat-header--left

     %h2

      サークルメンバー

     %p.chat-header__users

      Member:

      %span.chat-header__user

       OHHHHHHHHHH!!!!!!

      %span.chat-header__user

       失神寸前

      %span.chat-header__user

       カマキリ

    .chat-header--right

     %a(class="chat-header__edit-btn" href="")

      Edit

   .chat-body

    %ul.chat-messages

     %li.chat-message

      %div(class="chat-message__header clearfix")

       %p.chat-message__name

        失神寸前

       %p.chat-message__time

        2019/12/12 10:45:32

      %p.chat-message__body

       乙

     %li.chat-message

      %div(class="chat-message__header clearfix")

       %p.chat-message__name

        カマキリ

       %p.chat-message__time

        2019/12/12 10:45:32

      %p.chat-message__body

       卵産まれた

     %li.chat-message

      %div(class="chat-message__header clearfix")

       %p.chat-message__name

        失神寸前

       %p.chat-message__time

        2019/12/12 10:45:32

      %p.chat-message__body

       サマンサ

     %li.chat-message

      %div(class="chat-message__header clearfix")

       %p.chat-message__name

        失神寸前

       %p.chat-message__time

        2019/12/12 10:45:32

      %p.chat-message__body

       乙

     %li.chat-message

      %div(class="chat-message__header clearfix")

       %p.chat-message__name

        カマキリ

       %p.chat-message__time

        2019/12/12 10:45:32

      %p.chat-message__body

       卵産まれた

     %li.chat-message

      %div(class="chat-message__header clearfix")

       %p.chat-message__name

        失神寸前

       %p.chat-message__time 2019/12/12 10:45:32

      %p.chat-message__body

       サマンサ

     %li.chat-message

      %div(class="chat-message__header clearfix")

       %p.chat-message__name

        失神寸前

       %p.chat-message__time

        2019/12/12 10:45:32

      %p.chat-message__body

       乙

     %li.chat-message

      %div(class="chat-message__header clearfix")

       %p.chat-message__name

        カマキリ

       %p.chat-message__time

        2019/12/12 10:45:32

      %p.chat-message__body

       卵産まれた

   .chat-footer
    = form_for @message do |f|

     .chat-footer__body
      = f.text_area :body

      %label.chat-footer__file
       %i.fa.fa-image
     = f.submit "Send", data: { disable_with: "送信中..." }
