.chat-side {
	float: left;
	width:300px;
	height:100%;
	background-color:#2f3e51;
}

.chat-user{
	height:100px;
	color:white;
	background-color:#253141;
	padding: 20px;
}

.chat-user h5 {
	line-height: 60px;
	font-size: 16px;
	float: left;
	letter-spacing:2px;
}

.chat-user__actions {
	float: right;
}

.chat-user__action {
	display:inline-block;
	margin:15px 0 15px 3px;
	line-height:28px;
	color: white;
	font-size:20px;
}

.chat-groups {
	margin:0;
	padding:0;
	color:white;
	list-style:none;
}

.chat-group__link{
	display:block;
	padding:20px 20px;
	color:white
}

.chat-group__link:hover{
	background-color:#384a62;
}

.chat-group__name {
	display:inline-block;
	font-size:15px;
	margin-bottom:5px;
}

.chat-group__message {
	font-size: 11px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
